/* added */
body {
  background-color: #4d4c4b;
}

.settings-box, .about-box {
  background-color: #FFFFFF;
  color: #000000;
}

.banner-title {
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-size: xx-large;
  color: #000000;
  display: inline;
  margin: 5em 5em 5em 5em;
}

.banner-menu {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-weight: bold;
  display: inline;
  margin: 5em 5em 5em 5em;
}

.menu-navbar {
  text-decoration: none;
  color: #001064;
  font-size: larger;
  padding: 1.5em 1.5em 1.5em 1.5em;
}

.menu-navbar-text {
  color: #000000;
  font-size: x-large;
  padding: 1.5em 1.5em 1.5em 1.5em;
}

.menu-navbar:hover {
  text-decoration: none;
  color: #FFFF00;
  font-size: larger;
  padding: 1.5em 1.5em 1.5em 1.5em;
}
/* END, added */

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
